CLERK_PUBLISHABLE_KEY=pk_test_Z2xhZC1waXJhbmhhLTk3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Crctmm4isxbizPuk6arY1adW8EqIlrJuoO5Wnkxw4u

DATABASE_URL=postgresql://admin:admin@localhost:5432/postgres

THROTTLE_TTL=60000
THROTTLE_LIMIT=10

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth/callback

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
