CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

FRONTEND_URL=http://localhost:3000

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

THROTTLE_TTL=60000
THROTTLE_LIMIT=10

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth/callback

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=


MEMORY_WARNING_THRESHOLD=1024
MEMORY_CRITICAL_THRESHOLD=1536
MEMORY_MAX_THRESHOLD=2048
CHUNK_SIZE_DEFAULT=524288
CHUNK_SIZE_MIN=262144
CHUNK_SIZE_MAX=1048576
CHUNK_SIZE_REDUCTION_FACTOR=0.5
CHUNK_SIZE_INCREASE_FACTOR=1.1
STABLE_MEMORY_THRESHOLD=3
MEMORY_CHECK_INTERVAL_MS=10000
STABLE_MEMORY_DELTA=10


LOKI_ENDPOINT=
GRAFANA_CLOUD_USER_ID=
GRAFANA_CLOUD_API_KEY=
